@model List<YouTubeApiProject.Models.YouTubeVideoModel>
<link rel="stylesheet" href="~/css/site.css" />

<div id="loader-container">
    <span class="loader"></span>
</div>

<h2>Search YouTube Videos</h2>

<form asp-action="Search" method="post">
    <input type="text" name="query" placeholder="Search for videos..." />
    <button type="submit">Search</button>
</form>

@if (Model != null && Model.Any())
{
    <div>
        @foreach (var video in Model)
        {
            <div class="video-container">
                <div class="video-thumbnail">
                    <img src="@video.ThumbnailUrl" alt="@video.Title" />
                </div>
                <div class="video-details">
                    <h3>@video.Title</h3>
                    <p>@video.Description</p>
                    <div class="channel-info">
                        <img src="@video.ChannelProfilePictureUrl" alt="@video.ChannelName" class="channel-profile-picture" />
                        <span class="channel-name">@video.ChannelName</span>
                    </div>
                    <br />
                    <a href="@video.VideoUrl" target="_blank">
                        <button type="button" style="border-radius: 15px; padding: 5px 10px; font-size: 14px;">
                            Watch
                        </button>
                    </a>
                </div>
            </div>
        }
    </div>
}
<!-- Loader js -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Set a timeout to hide the loader after 3 seconds
        setTimeout(function () {
            document.getElementById('loader-container').style.display = 'none'; // Hide the loader
            document.getElementById('main-content').style.display = 'block'; // Show the main content
        }, 1500);
    });
</script>